<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="expat" version="2.1.0.10" targetFramework="native" />
  <package id="expat.redist" version="2.1.0.10" targetFramework="native" />
  <package id="libapr" version="1.4.6.1" targetFramework="native" />
  <package id="libapr.redist" version="1.4.6.1" targetFramework="native" />
  <package id="libapr-iconv.redist" version="1.2.1.2" targetFramework="native" />
  <package id="libiconv" version="1.14.0.11" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.11" targetFramework="native" />
  <package id="libxml2" version="2.7.8.7" targetFramework="native" />
  <package id="libxml2.redist" version="2.7.8.7" targetFramework="native" />
  <package id="zlib-msvc-x86" version="1.2.11.8900" targetFramework="native" />
</packages>